@import "../../scss/abstracts/mixins";
@import "../../scss/abstracts/variables";

.social__backgorund {
  background-color: $darkBlue;
  height: 50px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;


  &_icon {
    margin: 0.2rem;
    height: 30px;
  }
  &_phone {
    display: block;
    color: white;
    text-decoration: none;
    font-weight: 400;
    margin-right: 1rem;
  }
}
