@import "./abstracts/variables";
@import "./abstracts/mixins";

body,
p,
span {
  font-family: $secondary-font;
  // margin-top: 134px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $main-font;
  margin-bottom: 0;
}

p {
  margin: 0;
}

html,
body {
  scroll-behavior: smooth;
}

html {
  scroll-behavior: smooth;
}

.circle0 {
  left: 0;
}

.circle1 {
  left: 120px;
}
@media screen and (min-width: 768px) and (max-height: 1024px) {
  .circle1 {
    left: 160px;
  }
}
@media screen and (min-width: 992px) {
  .circle1 {
    left: 160px;
  }
}
@media screen and (min-width: 1024px) and (max-height: 768px) {
  .circle {
    height: 130px;
    width: 130px;
  }
}
@media screen and (min-width: 1366px) {
  .circle1 {
    left: 190px;
  }
}

.circle2 {
  left: 240px;
}

@media screen and (min-width: 768px) and (max-height: 1024px) {
  .circle2 {
    left: 320px;
  }
}

@media screen and (min-width: 992px) {
  .circle2 {
    left: 320px;
  }
}

@media screen and (min-width: 1366px) {
  .circle2 {
    left: 380px;
  }
}

.navbar-nav .nav-link.show {
  color: #fff !important;
}

.dropdown {
  // @include breakpoint($md) {
  //   margin-left: 1.5rem;
  // }
  a {
    font-family: $main-font;
    font-weight: 500;
    color: #000 !important;
  }
}

.dropdown-menu.show {
  background-color: #000;
  // display: flex;
  // flex-direction: column;
  // justify-content: center;
  font-family: $main-font;
  border-bottom: 5px solid $light-green;
  @include breakpoint($md) {
    height: 140px;
    width: 250px;
  }
  a {
    color: #fff !important;
    padding: 0.5rem 1rem;
    margin-left: 0;
    @include breakpoint($md) {
      &:hover {
        background-color: #181818;
      }
    }
  }
  li {
    margin-left: 0;
    &:last-child {
      background-color: #000;
      // border-radius: 6px;
      // a {
      //   color: #fff;
      //   padding: 0.5rem 1rem;
      //   display: block;
      // }
    }
  }
}
